
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    function isAdmin() {
      return isSignedIn() && exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }

    match /userProfiles/{userId} {
      allow get: if isOwner(userId) || isAdmin();
      allow list: if isAdmin();
      allow create: if isSignedIn() && request.auth.uid == userId;
      allow update: if isOwner(userId) || isAdmin();
    }

    match /system/license {
      // Allow anyone (even unauthenticated) to check if there are available licenses
      allow get: if true;
      allow write: if isAdmin();
    }

    match /modules/{moduleId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
      
      match /lessons/{lessonId} {
        allow read: if isSignedIn();
        allow write: if isAdmin();
      }
    }

    match /userProfiles/{userId}/moduleProgress/{progressId} {
      allow read, write: if isOwner(userId) || isAdmin();
    }

    match /userProfiles/{userId}/outputs/{outputId} {
      allow read, write: if isOwner(userId) || isAdmin();
      
      match /revisions/{revisionId} {
        allow read, write: if isOwner(userId) || isAdmin();
      }
    }

    match /roles_admin/{userId} {
      allow get: if isSignedIn();
      allow read: if isAdmin();
    }
  }
}
